*{
  margin: 0%;
  padding: 0%;
}

  /*@media screen and (max-width: 767px){*/

body{
  background: linear-gradient(rgb(255, 82, 44),hsl(357, 100%, 69%))

}
.logo{
  display: flex;
  justify-content: center;
  
}
.incomeButton{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-items: center;
}
a,h4,h3{
  margin-top: 3rem;
  font-size: 20px;
  color:white;
  text-decoration: none;
  font-family: 'Nova Round', cursive;
}
.login,.create,.session{
  margin-top: 1em;
    font-size: 30px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    padding: 4px;
}
.image{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  flex-flow: column wrap;
}
.userForm{
  display:flex;
  font-family: 'Nova Round', cursive;
  align-items: center;
  flex-flow: column wrap;
} 

.createBtn{
  font-family: 'Nova Round', cursive;
  color: white;
  margin-top: 1em;
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 4px;
}
.formLogin{
  display:flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;

}
input{
  margin-top: 3rem;
  font-size: 20px;
  color:white;
  text-decoration: none;
  font-family: 'Nova Round', cursive;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 4px;

}
.postForm{
  display:flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
}
textarea{
  justify-content: flex-start;
  text-decoration: none;
  font-family: 'Nova Round', cursive;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 4px;
}

/*.footer {
  
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}*/
  